body {
  font-family: "Arial";
  background-color: #f0f4f8;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#output {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  padding: 20px;
}
.pokemon-info {
  flex: 1;
  text-align: left;
}
#statsTable {
  flex: 1;
  width: 100%;
  border-collapse: separate;
  border-spacing: 3px 3px;
}
td {
  background: white;
  border: 1px solid black;
}
.type {
  color: white;
  font-size: 2rem;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  box-shadow: 1px 1px 2px black;
}
#text {
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 10px;
}
#logo {
  width: 15rem;
  height: 15rem;
  margin-left: 20px;
  margin-bottom: 0;
}
#image {
  margin-top: 10px;
  width: 200px;
  height: 200px;
}
#audio {
  background-color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-top: 5px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
#NORMAL {
  background-color: #a8a77a;
}
#FIRE {
  background-color: #ee8130;
}
#WATER {
  background-color: #6390f0;
}
#GRASS {
  background-color: #7ac74c;
}
#ELECTRIC {
  background-color: #f7d02c;
}
#ICE {
  background-color: #96d9d6;
}
#FIGHTING {
  background-color: #c22e28;
}
#POISON {
  background-color: #a33ea1;
}
#GROUND {
  background-color: #e2bf65;
}
#FLYING {
  background-color: #a98ff3;
}
#PSYCHIC {
  background-color: #f95587;
}
#BUG {
  background-color: #a6b91a;
}
#ROCK {
  background-color: #b6a136;
}
#GHOST {
  background-color: #735797;
}
#DRAGON {
  background-color: #6f35fc;
}
#DARK {
  background-color: #705746;
}
#STEEL {
  background-color: #b7b7ce;
}
#FAIRY {
  background-color: #d685ad;
}
