body {
  font-family: "Arial";
  background-color: #f0f4f8;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
#root{
  width: 100%;
  margin-top: 0;
  padding: 0;
}
#output {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  padding: 20px;
}
.pokemon-info {
  flex: 1;
  text-align: left;
}
.type {
  color: white;
  font-size: 2rem;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  box-shadow: 1px 1px 2px black;
}
#text {
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 10px;
}
#logo {
  width: 15rem;
  height: 15rem;
  margin-left: 20px;
  margin-bottom: 0;
}
#image {
  margin-top: 10px;
  width: 200px;
  height: 200px;
}
#audio {
  background-color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-top: 5px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

